{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'about_us.css' %}">
</head>
<body style="background-image: url({% static 'blank_background.png' %})";
>
    <br><br><br><br>
        <div class="main">
            <center><h1 style="color:#33234c">About Us</h1></center>
            <div>Welcome to our Hostel Complaint Management System! </div>
            <div class="about">Here, we believe in fostering a supportive and comfortable environment for all hostellers. 
                We understand that problems and concerns may arise from time to time, and we are here to addressing them systematically and effectively.
            </div><br><br>
            <center><h1 style="color:#33234c">Our Mission</h1></center>
            <div class="mission">
                Our mission is to organise the complaint process, ensuring that every concern raised by the hostellers receives proper attention. 
                We aim to create a transparent and efficient system that smoothens the process of complaint management.
        </div>
</body>
</html>