{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'contact_us.css' %}">
</head>
<body>
    <center>
        <br><br>
    <div id="main">
    <center><h1>Contact Us</h1>
        <br><br>
    <h2>For hostel related issues</h2><br>
    <table>
        <tr>
            <td class="x">Ms. Renu Rani(Hostel Superviser)</td>
            <td class="x">7206821944</td>
        </tr>
        <tr>
            <td class="x">Dr. Ritu Garg(Warden)</td>
            <td class="x">9896114469</td>
        </tr>
    </table>
    <br>
    <h2>For security related issues</h2><br>
    <table>
        <tr>
            <td class="x">Security Guards</td>
            <td class="x">Available at hostel gate</td>
        </tr>
        <tr>
            <td class="x">Security Superviser</td>
            <td class="x">9034651015</td>
        </tr>
    </table>
    <br>
    <h2>For medical assistance(During Night Hours)</h2><br>
    <table>
        <tr>
            <td class="x">Smt. Sonika(Health Centre Pharmacist)</td>
            <td class="x">8053685131</td>
        </tr>
        <tr>
            <td class="x">Sh. Jai Dev(Hostels Pharmacist)</td>
            <td class="x">9991019007</td>
        </tr>
    </table>
    </center>
    </div>
</center>
</body>
</html>