{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==' %}" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="background-color: #33234C;">
    <div style="display: flex;justify-content: flex-end;font-family:Arial;padding-right: 10px;background-color: #33234C;padding-top: 5px;">
          <div >
            <a href="accounts/about" style="color:white;text-decoration: none;font-size:23px;padding-right:20px;">About</a>
          </div>
          <div >
            <a href="contact/contactUs" style="color:white;text-decoration: none;font-size:23px;padding-right:20px;">Contact</a>
          </div>
          <div>
            <a href="accounts/register" style="color:white;text-decoration: none;font-size:23px;padding-right:20px;padding-left: 3px;">Sign Up</a>
          </div>
        <div>
            <a style="color:white;text-decoration: none;font-size:23px;padding-right:10px;" href="accounts/login">Login</a>
          </div>
        </div>
    <div for id="top_nav" style="display:flex; justify-content: space-between;background-color:#33234C;visibility:0.5; align-items: center;padding-top: 3px; font-family: Arial, Helvetica, sans-serif;">
        <div for id="logo" style="padding-left: 10px;">
          <img src="{% static 'logo_hcms.jpg' %}" alt="logo" height="150px">
        </div>
        </div>
    <div style="height:650px;width:100%;background-color:#33234C;">
        <div style="width:60%;font-family: Arial;">
            <br>
            <h1 style="font-size:70px;color:white;padding:30px;">Let's Make Hostel Management Easy</h1>
            <p style="color:white;font-size:25px;padding:30px;">AN ONLINE PORTAL THAT HELPS IN MANAGING OF ONLINE CUSTOMER COMPLAINTS</p>
        </div>
        <div style="height:100px;width:100px;background-color:rgba(248, 147, 15,0.4);position: absolute;top:500px;right:200px;border-radius: 50%;"></div>
        <div style="height:100px;width:100px;background-color:rgba(14, 233, 222, 0.4);position: absolute;top:450px;right:300px;border-radius: 50%;"></div>
        <div style="height:100px;width:100px;background-color:rgba(252, 230, 33, 0.4);position: absolute;top:400px;right:220px;border-radius: 50%;"></div>
        <div style="height:100px;width:100px;background-color:rgba(241, 245, 9, 0.4);position: absolute;top:500px;right:340px;border-radius: 50%;"></div>
        <div style="height:100px;width:100px;background-color:rgba(219, 61, 13, 0.4);position: absolute;top:550px;right:200px;border-radius: 50%;"></div>
        <div style="height:100px;width:100px;background-color:rgba(248, 147, 15,0.4);position: absolute;top:480px;right:100px;border-radius: 50%;"></div>
        <div style="height:100px;width:100px;background-color:rgba(62, 182, 162, 0.4);position: absolute;top:300px;right:150px;border-radius: 50%;"></div>
        <div style="height:100px;width:100px;background-color:rgba(248, 147, 15,0.4);position: absolute;top:480px;right:130px;border-radius: 50%;"></div>
        <div style="height:100px;width:100px;background-color:rgba(252, 0, 0, 0.4);position: absolute;top:420px;right:200px;border-radius: 50%;"></div>
        <div style="height:100px;width:100px;background-color:rgba(247, 243, 8, 0.4);position: absolute;top: 500px;right:200px;border-radius: 50%;"></div>
        <div style="height:100px;width:100px;background-color:rgba(2, 192, 176, 0.4);position: absolute;top:450px;right:230px;border-radius: 50%;"></div>
        
    </div>
</body>
</html>